[Unit]
Description=EPICS Soft IOC <%= @name %>
Requires=<%= @systemd_requires.join(' ') %>
After=<%= @systemd_after.join(' ') %>
RequiresMountsFor=<%= @systemd_requires_mounts_for.join(' ') %>

[Service]
<% @real_env_vars.each_pair do |key, val| -%>
Environment="<%= key %>=<%= val %>"
<% end -%>
EnvironmentFile=-/etc/iocs/<%= @name -%>/config
ExecStart=/usr/bin/procServ --foreground --quiet --chdir=<%= @absbootdir -%> --ignore=^C^D^] --coresize=<%= @coresize -%> --restrict --logfile=<%= @procserv_log_file -%> --name <%= @name -%><% if @enable_console_port %> --port <%= @console_port -%><% end %><% if @enable_unix_domain_socket %> --port <%= @unix_domain_socket -%><% end %> <%= @absstartscript %>
Restart=always
User=<%= @username %>

[Install]
WantedBy=multi-user.target